<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <div class="wrapper">
      <h2 class="title">問題<%= id %></h2>
      <ul>
        <li>[ジャンル]<%- quiz.category %></li>
        <li>[難易度]<%- quiz.difficulty %></li>
      </ul>
      <p class="description"><%- quiz.question %></p>
      <div class="buttons mt-5">
        <% quiz.answers.forEach((answer) => { %>
        <!-- これだと遷移はするがonclickが動かない -->
        <!-- <a href="/quiz/<%= next %>" class="button is-info onclick="checkQuizAnswer(answer, quiz.correctAnswer)">
          <%- answer %>
        </a> -->
        <!-- 【TODO】次のクイズページ遷移 / クリックした回答と正解を照合してローカルストレージの正答数をインクリメント -->
        <button
          class="button is-info"
          onclick="checkQuizAnswer(answer, quiz.correctAnswer, next, res)"
        >
          <%- answer %>
        </button>
        <% }); %>
      </div>
    </div>
  </body>
</html>
